# Exercise 2: Create markdown cell with title of the notebook
# Create a markdown cell with the title Data Science Tools and Ecosystem using H1 style heading.

# Data Science Tools and Ecosystem

# Exercise 3 - Create a markdown cell for an introduction
# Write an introductory sentence about the notebook such as the follows:
# In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages that Data Scientists use
- Some of the commonly used libraries used by Data Scientists
- Data Science tools
- Evaluating arithmetic expressions in Python

# Exercise 4 - Create a markdown cell to list data science languages
# Start the cell with an overview line such as:
# Some of the popular languages that Data Scientists use are:
# Then create an ordered list (i.e. numbered) listing 3 (or more) commonly used languages for data science.

**Some of the popular languages that Data Scientists use are:**
1. Python
2. Scala
3. Java
4. R

# Exercise 5 - Create a markdown cell to list data science libraries
# Add an overview line to the cell like:
# Some of the commonly used libraries used by Data Scientists include:
# Below this line add an ordered list listing 3 (or more) commonly used libraries in data science.

**Some of the commonly used libraries used by Data Scientists include:**
1. ggplot
2. NumPy
3. Tensorflow

# Exercise 6 - Create a markdown cell with a table of Data Science tools
# Create a single column table in this cell with the first row containing the header Data Science Tools. 
# The subsequent three rows in the table should indicate three development environment open source tools used in data science.

|Data Science Tools | 
| ------ 
| MySQL |
|PostgreSQL |
| Apache Cassandra |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples
# Add a line in this cell with H3 style heading with text like:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# Exercise 8 - Create a code cell to multiply and add numbers
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours
# In this code cell write an expression that converts 200 minutes into hours.
# Insert a comment line before the expression to explain the operation e.g. This will convert 200 minutes to hours by diving by 60.

In [4]:
# This will convert 200 minutes to hours by diving by 60. 
(200/60)

3.3333333333333335

#Exercise 11 - Create a markdown cell to indicate the Author's name
#In this markdown cell markdown cell include the following text Author in H2 style heading. #Include your name as regular text below the word Author.

# H2 Author
Okali Chigozie